# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Virtual environment
env/
venv/

# IDE/editor settings
.vscode/
.idea/

# Flask specific files
instance/
*.log

# Pytest
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example